<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>お知らせ</title>
    <link rel="stylesheet" href="result.css" />
    <style>
      /* 背景を暗くするオーバーレイ */
      #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
      }

      /* 中央に表示されるダイアログ */
      #registerDialog {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        width: 50vw;
        max-width: 600px;
        height: 40vw;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      }
    </style>
  </head>
  <body>
    <h1>お知らせ</h1>
    <form action="/oshirase" method="get">
      <label for="title">タイトル:</label>
      <input
        type="text"
        id="title"
        name="title"
        placeholder="Enter title"
        th:value="${title}"
      />

      <label for="category">タイトル区分:</label>
      <select id="category" name="category">
        <option value="">--Select an category--</option>
        <!-- 默认空选项 -->
        <option
          th:each="kubunItem : ${allCategory}"
          th:value="${kubunItem.kubun}"
          th:text="${kubunItem.displayName}"
          th:selected="${kubunItem.kubun == category}"
        ></option>
      </select>

      <br />
      <label for="registrationDate">掲載日:</label>
      <input
        type="date"
        id="registrationDate"
        name="registrationDate"
        th:value="${registrationDate}"
      />

      <label for="startDate">適用期間:</label>
      <input
        type="date"
        id="startDate"
        name="startDate"
        th:value="${startDate}"
      />
      <label for="endDate">~</label>
      <input type="date" id="endDate" name="endDate" th:value="${endDate}" />
      <button type="submit">Search</button>
    </form>

    <table border="1">
      <thead>
        <tr>
          <th colspan="4">
            <a>検索結果</a>
          </th>
          <th>
            <a
              th:if="${currentPage > 0}"
              th:href="@{/oshirase(page=0, title=${title}, category=${category}, registrationDate=${registrationDate}, startDate=${startDate}, endDate=${endDate})}"
              style="font-size: 20px; text-decoration: none"
            >
              |&NestedLessLess;
            </a>
            <a
              th:if="${currentPage > 0}"
              th:href="@{/oshirase(page=${currentPage - 1}, title=${title}, category=${category}, registrationDate=${registrationDate}, startDate=${startDate}, endDate=${endDate})}"
              style="font-size: 20px; text-decoration: none"
            >
              &lt;
            </a>
            <span
              th:text="'Page ' + (${currentPage} + 1) + ' / ' + ${totalPages}"
            ></span>
            <a
              th:if="${currentPage < totalPages - 1}"
              th:href="@{/oshirase(page=${currentPage + 1}, title=${title}, category=${category}, registrationDate=${registrationDate}, startDate=${startDate}, endDate=${endDate})}"
              style="font-size: 20px; text-decoration: none"
            >
              &gt;
            </a>
            <a
              th:if="${currentPage < totalPages - 1}"
              th:href="@{/oshirase(page=${totalPages - 1}, title=${title}, category=${category}, registrationDate=${registrationDate}, startDate=${startDate}, endDate=${endDate})}"
              style="font-size: 20px; text-decoration: none"
            >
              &NestedGreaterGreater;|
            </a>

            <span th:utext="'&nbsp;&nbsp;&nbsp;' + ${totalItems} + '件'"></span>
          </th>
        </tr>
        <tr>
          <th></th>
          <th>お知らせタイトル</th>
          <th>お知らせ区分</th>
          <th>掲載日</th>
          <th>適用期間</th>
        </tr>
      </thead>
      <tbody>
        <tr
          th:each="user : ${oshirase}"
          th:attr="onclick='handleRowClick(this, event)'"
          style="cursor: pointer"
        >
          <td><input type="radio" name="selectedUser" value="${user.id}" /></td>
          <td th:text="${user.title}"></td>
          <td th:text="${user.getDisplayName}"></td>

          <td th:text="${user.regDayforTable}"></td>

          <td
            th:text="${user.startDayforTable + ' ~ ' + user.endDayforTable}"
          ></td>
        </tr>
        <tr th:if="${oshirase.size() == 0}">
          <td colspan="6">No Announcement found</td>
        </tr>
      </tbody>

      <script>
        function handleRowClick(row, event) {
          if (event.target.type === "radio") {
            return;
          }
          // 获取当前行中的 radio 元素
          var radio = row.querySelector('input[type="radio"]');

          // 设置该 radio 为选中状态
          radio.checked = true;
        }
      </script>
    </table>

    <button type="button" id="openDialogButton">データ登録</button>
    <!-- ダイアログ -->
    <div id="overlay">
      <div id="registerDialog">
        <h3>データ登録フォーム</h3>
        <form th:action="@{/oshirase}" method="post">
          <label for="dialogTitle">タイトル</label>
          <input
            type="text"
            id="dialogTitle"
            name="dialogTitle"
            required
          /><br /><br />

          <label for="dialogCategory">タイトル区分:</label>
          <select id="dialogCategory" name="dialogCategory" required>
            <option value="">--Select an category--</option>
            <!-- 默认空选项 -->
            <option
              th:each="dialogKubunItem : ${allCategory}"
              th:value="${dialogKubunItem.kubun}"
              th:text="${dialogKubunItem.displayName}"
            ></option>
          </select>
          <br /><br />

          <label for="dialogRegistrationDate">掲載日:</label>
          <input
            type="date"
            id="dialogRegistrationDate"
            name="dialogRegistrationDate"
            required
          />

          <label for="dialogStartDate">適用期間:</label>
          <input
            type="date"
            id="dialogStartDate"
            name="dialogStartDate"
            required
          />
          <label for="dialogEndDate">~</label>
          <input type="date" id="dialogEndDate" name="dialogEndDate" required />
          <br /><br />
          <button type="submit">登録</button>
          <button type="button" id="closeDialogButton">閉じる</button>
        </form>
      </div>
    </div>
    <script>
      // ダイアログの表示と非表示を制御するスクリプト
      document
        .getElementById("openDialogButton")
        .addEventListener("click", function () {
          document.getElementById("overlay").style.display = "flex";
        });

      document
        .getElementById("closeDialogButton")
        .addEventListener("click", function () {
          document.getElementById("overlay").style.display = "none";
        });
    </script>
  </body>
</html>
